<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
    <add key="repositoryPath" value="../Server/packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- When <clear /> is present, previously defined sources are ignored -->
    <clear />
    <!-- Intentionally v2, as v3 doesn't yet support list which is used by Update-Environment.ps1 -->
    <add key="vss-package-management" value="https://www.myget.org/F/vss-package-management/api/v2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SocialPlus" value="https://nuget.pkg.github.com/sharadagarwal/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SocialPlus>
        <add key="Username" value="sharadagarwal" />
        <add key="ClearTextPassword" value="401edb731a3490ed423cef90a080bf2ce6a62d29" />
    </SocialPlus>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
