<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AADEmbeddedSocialTestClient1Settings" value="72f988bf-86f1-41af-91ab-2d7cd011db47;d90bf1f1-8893-4cd3-9d16-644ecd2b3106;https://embeddedsocial.microsoft.com/testclient1;A2090D981CF8B0261C848A1C1515AB49E798272A" />
  </appSettings>
</configuration>