[Unit]
Description=Disable Transparent Huge Pages
After=network.target
Before=redis-persistent.service redis-volatile.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/echo never > /sys/kernel/mm/transparent_hugepage/enabled'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

