<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>      
      <add key="ServiceBusConnectionString" value="Endpoint=sb://sp-dev-beihai-premium.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
      <add key="SearchServiceName" value="sp-dev-beihai" />
      <add key="SearchServiceAdminKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
      <add key="ConfigRelativePath" value="..\\..\\..\\..\\UtilsInternal\\Config" />
      <add key="ManageAppsRelativePath" value="..\\..\\..\\..\\Tools\\Ops\\ManageApps\\bin\\Debug" />
      <!-- AAD settings; the values are: "Tenant_ClientID,clientID,app_URI,certThumbprint"-->
      <add key="AADEmbeddedSocialTestClient1Settings" value="72f988bf-86f1-41af-91ab-2d7cd011db47;d90bf1f1-8893-4cd3-9d16-644ecd2b3106;https://embeddedsocial.microsoft.com/testclient1;A2090D981CF8B0261C848A1C1515AB49E798272A" />
      <add key="AADEmbeddedSocialTestClient2Settings" value="72f988bf-86f1-41af-91ab-2d7cd011db47;e9233d90-b8a7-49d2-b78d-74265f58295c;https://embeddedsocial.microsoft.com/testclient2;A239C1A0C6418421C0DFB8B3E673CE2310336956" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
            </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
          </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>