<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="D3895B71365CB56E8B02DAF01B74FF72DAFE52CD" />
    <add key="AVERTKey" value="kv:https://sp-api.vault.azure.net:443/secrets/AVERTKey/c3375fa64bfe41febe94416fea2c32c4" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/1b1a3d94472a47428ca3619c8423d047" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/AzureSqlConnectionString/00eddbcdd65948cbbee8de061973c2b3" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/AzureStorageConnectionString/18138ea224e842299cf1e1130a519474" />
    <add key="CDNUrl" value="https://sp-api.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-api.vault.azure.net:443/secrets/CVSKey/f93c8c8d9bcb41e5a650695ec0f850dd" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/api/" />
    <add key="CVSX509Thumbprint" value="3340b4169b0e545d9e70cdb6b20bb491c9f17204" />
    <add key="EnableAzureSettingsReaderTracing" value="false" />
    <add key="EnableMdm" value="true" />
    <add key="HashingKey" value="https://sp-api.vault.azure.net:443/secrets/HashingKey/5f572acfa1e046ceb640e99f678a36e7" />
    <add key="KeyVaultUri" value="https://sp-api.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/PersistentRedisConnectionString/c121d3ae03a54dd694fa3ba7765fb522" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/PushNotificationsConnectionString/957415d63d1d4e34987b6f1585593dc7" />
    <add key="RateLimitPerMinute" value="6000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-api.vault.azure.net:443/secrets/SearchServiceAdminKey/eb3175814f954e5990ddbdb18bcd7248" />
    <add key="SearchServiceName" value="sp-api" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-api.vault.azure.net:443/secrets/SendGridInstrumentationKey/9d99e5e773134a3dac118bd83527390e" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/ServiceBusConnectionString/b99984613a314ac08db735e2a383d829" />
    <add key="SigningKey" value="https://sp-api.vault.azure.net:443/keys/SigningKey/3316586244ca45b192416d289216e074" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-api.vault.azure.net:443/secrets/VolatileRedisConnectionString/fa3c367da3ad430bb4fe4b045f4f5d7d" />
  </appSettings>
</configuration>
