<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="0AEDCDED02B7A6C9F799FB0790BC72F9806AE6EA" />
    <add key="AVERTKey" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/AVERTKey/4cf7a456efaf45e498a0293a8f1343a8" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/ppe/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/42e95dc2f25443e8a13909e3e7b03149" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/AzureSqlConnectionString/5e343d7598354ca08dc2ba412d93931e" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/AzureStorageConnectionString/cef0769898804bb7a7a1e328b51283e2" />
    <add key="CDNUrl" value="https://sp-dev-eduardo.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/CVSKey/7a4e65a8c54a428c9352c550e8974b4c" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/ppe/api" />
    <add key="CVSX509Thumbprint" value="6d2c0aa38b6f03d44915fed0108bef94f3bad51f" />
    <add key="EnableAzureSettingsReaderTracing" value="false" />
    <add key="EnableMdm" value="true" />
    <add key="HashingKey" value="https://sp-dev-eduardo.vault.azure.net:443/secrets/HashingKey/78bbffdc5bdf48a2878b14232c05e891" />
    <add key="KeyVaultUri" value="https://sp-dev-eduardo.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/PersistentRedisConnectionString/240f383f169d491bbaaf2261074dd9ad" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/PushNotificationsConnectionString/1db283ef04c946be865ef3bbc8d723d5" />
    <add key="RateLimitPerMinute" value="3000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/SearchServiceAdminKey/98ec084440d3440cb0e03ccb7a90db35" />
    <add key="SearchServiceName" value="sp-dev-eduardo" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/SendGridInstrumentationKey/cf21ed2d464a4ef89edb53df3a05b706" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/ServiceBusConnectionString/b75598d54428427caa93ac2e13fcced3" />
    <add key="SigningKey" value="https://sp-dev-eduardo.vault.azure.net:443/keys/SigningKey/114c7d6f3018482691b29357bfec0313" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-dev-eduardo.vault.azure.net:443/secrets/VolatileRedisConnectionString/b67012955d564f6db71f45ac74d363b8" />
  </appSettings>
</configuration>
