<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AVERTCertThumbprint" value="0AEDCDED02B7A6C9F799FB0790BC72F9806AE6EA" />
    <add key="AVERTKey" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/AVERTKey/45374635b28047a19e19616368fcdba7" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/ppe/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/bf5b52c241ff4d2dbaeacda7cadf4e8e" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/AzureSqlConnectionString/3aef5d4b1a5944589749ee4183b42954" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/AzureStorageConnectionString/012da9b4fb9c43a0940229660d612b00" />
    <add key="CDNUrl" value="https://sp-dev-stefan.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/CVSKey/86e458ee49c940b1a017e06952f26418" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/ppe/api" />
    <add key="CVSX509Thumbprint" value="6d2c0aa38b6f03d44915fed0108bef94f3bad51f" />
    <add key="EnableAzureSettingsReaderTracing" value="False" />
    <add key="EnableMdm" value="True" />
    <add key="HashingKey" value="https://sp-dev-stefan.vault.azure.net:443/secrets/HashingKey/5531d9fa31a74b2982b50411024f66be" />
    <add key="KeyVaultUri" value="https://sp-dev-stefan.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/PersistentRedisConnectionString/57b2b678c57b417a88b729a3be9f0878" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/PushNotificationsConnectionString/043df49dbf494886afa51642dd9f6a64" />
    <add key="RateLimitPerMinute" value="6000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/SearchServiceAdminKey/877f9a13683147acb28c6523aebe0edc" />
    <add key="SearchServiceName" value="sp-dev-stefan" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/SendGridInstrumentationKey/8d75ac9223e2417cb1b1ce58d93c3552" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/ServiceBusConnectionString/9e6f3b3c8fff476aba917ccd6b46c980" />
    <add key="SigningKey" value="https://sp-dev-stefan.vault.azure.net:443/keys/SigningKey/00afdc8516aa48f495f88f6e437f554c" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-dev-stefan.vault.azure.net:443/secrets/VolatileRedisConnectionString/9082b56f191d4796983d03a4057d64e5" />
  </appSettings>
</configuration>
