<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="0AEDCDED02B7A6C9F799FB0790BC72F9806AE6EA" />
    <add key="AVERTKey" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/AVERTKey/c10c598d23bc4f74858927f306e76c67" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/ppe/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/9adeb33e14a54fe8a23a60383b697861" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/AzureSqlConnectionString/343d1bdf21af4c8b957f2943bc9223eb" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/AzureStorageConnectionString/cd3c1eab14d94db8a9d5ace07b8402a4" />
    <add key="CDNUrl" value="https://sp-dev-vso.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/CVSKey/5649225a0312487ba180e72846e2f58a" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/ppe/api" />
    <add key="CVSX509Thumbprint" value="6d2c0aa38b6f03d44915fed0108bef94f3bad51f" />
    <add key="EnableAzureSettingsReaderTracing" value="False" />
    <add key="EnableMdm" value="True" />
    <add key="HashingKey" value="https://sp-dev-vso.vault.azure.net:443/secrets/HashingKey/0cbf5c5b09b249759a251ae406528554" />
    <add key="KeyVaultUri" value="https://sp-dev-vso.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/PersistentRedisConnectionString/f874638d966b46acad52322433cdb74d" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/PushNotificationsConnectionString/0739a1f596d04df9a503dd02c012f59b" />
    <add key="RateLimitPerMinute" value="3000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/SearchServiceAdminKey/3c13018b46e740a3b472890524be5b62" />
    <add key="SearchServiceName" value="sp-dev-vso" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/SendGridInstrumentationKey/20ca958f2e654995a035f0fea0f3a14b" />
    <add key="ServiceBusBatchIntervalMs" value="0"/>
    <add key="ServiceBusConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/ServiceBusConnectionString/b5a440bf729047d68faa14150255e0f3" />
    <add key="SigningKey" value="https://sp-dev-vso.vault.azure.net:443/keys/SigningKey/baadd10ab6f54db08ccccfce106ad678" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-dev-vso.vault.azure.net:443/secrets/VolatileRedisConnectionString/29f1d53404534ab8a385e3ecc12340eb" />
  </appSettings>
</configuration>
