<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="0AEDCDED02B7A6C9F799FB0790BC72F9806AE6EA" />
    <add key="AVERTKey" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/AVERTKey/86159e9120254c9dabca490d24a3647c" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/ppe/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/53bc9afb9a60418e88ab30c0d0e552c9" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/AzureSqlConnectionString/bc90761b4ac24b85811ade072e2ac052" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/AzureStorageConnectionString/6aed0984da224a05a2d3992f4c572716" />
    <add key="CDNUrl" value="https://sp-dev-sharad.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/CVSKey/8a888248b29b4de18fc41ae996e33c35" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/ppe/api" />
    <add key="CVSX509Thumbprint" value="6d2c0aa38b6f03d44915fed0108bef94f3bad51f" />
    <add key="EnableAzureSettingsReaderTracing" value="False" />
    <add key="EnableMdm" value="True" />
    <add key="HashingKey" value="https://sp-dev-sharad.vault.azure.net:443/secrets/HashingKey/f65c1b52aad740c39198cd0d5026c223" />
    <add key="KeyVaultUri" value="https://sp-dev-sharad.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/PersistentRedisConnectionString/3b804c74dbfc41cda107b54d4b9ec7fa" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/PushNotificationsConnectionString/c71b1200e0b245e99156a3f1772cc048" />
    <add key="RateLimitPerMinute" value="3000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/SearchServiceAdminKey/6abae5a190fd4a57811c073832333980" />
    <add key="SearchServiceName" value="sp-dev-sharad" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/SendGridInstrumentationKey/1902a9e7233745208d3256b206fbaf16" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/ServiceBusConnectionString/4cc086e9bafe4e8c9fc66e2c410e3cf2" />
    <add key="SigningKey" value="https://sp-dev-sharad.vault.azure.net:443/keys/SigningKey/42dde3eb70c14f2dbc26050ae257dc28" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-dev-sharad.vault.azure.net:443/secrets/VolatileRedisConnectionString/dbb516dce939434399279fe90f2a01f9" />
  </appSettings>
</configuration>
