<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="0AEDCDED02B7A6C9F799FB0790BC72F9806AE6EA" />
    <add key="AVERTKey" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/AVERTKey/3b99d4cd82ce47cfac26077c1d92c21b" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/ppe/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/2a993b0c09614bc484118f73ec86c438" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/AzureSqlConnectionString/46cabe6658004b9084866b6f8e418806" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/AzureStorageConnectionString/09cb5b5da4d4431ba73d59118d412ae3" />
    <add key="CDNUrl" value="https://sp-dev-alec.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/CVSKey/2d7e27d073214eb7a767f4596179a5f8" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/ppe/api" />
    <add key="CVSX509Thumbprint" value="6d2c0aa38b6f03d44915fed0108bef94f3bad51f" />
    <add key="EnableAzureSettingsReaderTracing" value="false" />
    <add key="EnableMdm" value="true" />
    <add key="HashingKey" value="https://sp-dev-alec.vault.azure.net:443/secrets/HashingKey/96fa7e6f66d14500a386d82f043f542c" />
    <add key="KeyVaultUri" value="https://sp-dev-alec.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/PersistentRedisConnectionString/dec33e5228cb409290b37f5d88882017" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/PushNotificationsConnectionString/ee0e1276c8104cb3a9ea4873b7767625" />
    <add key="RateLimitPerMinute" value="3000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/SearchServiceAdminKey/aacf3d34f124451095236e0ef16d693d" />
    <add key="SearchServiceName" value="sp-dev-alec" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/SendGridInstrumentationKey/c83ebbda95044d66b9a068bee5ba0d36" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/ServiceBusConnectionString/efbe45292bda48099dd772d44b770a76" />
    <add key="SigningKey" value="https://sp-dev-alec.vault.azure.net:443/keys/SigningKey/704f265d20e340018e1e4671f94b5f04" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-dev-alec.vault.azure.net:443/secrets/VolatileRedisConnectionString/91aff77755fb4754bfdc4aa2480143a3" />
  </appSettings>
</configuration>
