<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="D3895B71365CB56E8B02DAF01B74FF72DAFE52CD" />
    <add key="AVERTKey" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/AVERTKey/d5973ca9eabf4fc4a876313d70a98096" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/3429415f3083491abf14a89808560ef8" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/AzureSqlConnectionString/7a724e35eed34d658dcbb431ce064302" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/AzureStorageConnectionString/17a6fed978124371bb9631f35ba4d31d" />
    <add key="CDNUrl" value="https://sp-prod-beihai.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/CVSKey/9d8bc7085d614f39884ef136deaa3550" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/api/" />
    <add key="CVSX509Thumbprint" value="3340b4169b0e545d9e70cdb6b20bb491c9f17204" />
    <add key="EnableAzureSettingsReaderTracing" value="False" />
    <add key="EnableMdm" value="True" />
    <add key="HashingKey" value="https://sp-prod-beihai.vault.azure.net:443/secrets/HashingKey/9012f553938442b1a5624b8446aac068" />
    <add key="KeyVaultUri" value="https://sp-prod-beihai.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/PersistentRedisConnectionString/81d46f2ffa624007bbde0b206346a179" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/PushNotificationsConnectionString/0164c7279ef64befb7f2512b1e584af5" />
    <add key="RateLimitPerMinute" value="6000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/SearchServiceAdminKey/f105e41a766e4f99b4ce816791b677df" />
    <add key="SearchServiceName" value="sp-prod-beihai" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/SendGridInstrumentationKey/6034af29fe854bc89462266fdabc3726" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/ServiceBusConnectionString/2cf2acb96ff84bdf9059c9da7f1502da" />
    <add key="SigningKey" value="https://sp-prod-beihai.vault.azure.net:443/keys/SigningKey/cd8d9ec2e51748f3b1bbde5530a32dc4" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-prod-beihai.vault.azure.net:443/secrets/VolatileRedisConnectionString/ee4d4976669a41e9a9bbf48022331a99" />
  </appSettings>
</configuration>
