<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="D3895B71365CB56E8B02DAF01B74FF72DAFE52CD" />
    <add key="AVERTKey" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/AVERTKey/9baa5903f1b74a608e18e72d2b428584" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/6ecf496c9a864268b94cece0d270440c" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/AzureSqlConnectionString/5e9aa090cb3347788414bafe1047aaff" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/AzureStorageConnectionString/8294b410e6914da98a731232fbeade52" />
    <add key="CDNUrl" value="https://sp-ppe-beihai.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/CVSKey/207beec2a0d7437fa0744f649efb41b2" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/api/" />
    <add key="CVSX509Thumbprint" value="3340b4169b0e545d9e70cdb6b20bb491c9f17204" />
    <add key="EnableAzureSettingsReaderTracing" value="false" />
    <add key="EnableMdm" value="true" />
    <add key="HashingKey" value="https://sp-ppe-beihai.vault.azure.net:443/secrets/HashingKey/1ea0456f43b54fbfad51c449273a4f4a" />
    <add key="KeyVaultUri" value="https://sp-ppe-beihai.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/PersistentRedisConnectionString/08a6f2e0443848749a79d64038a45b4b" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/PushNotificationsConnectionString/bd38c4a8720c4e12a3c62918dc158606" />
    <add key="RateLimitPerMinute" value="6000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/SearchServiceAdminKey/d357e2d4c8f948b99163fabb8fdb1987" />
    <add key="SearchServiceName" value="sp-ppe-beihai" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/SendGridInstrumentationKey/c5c4a5c4f3d742549ad47342ac18e441" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/ServiceBusConnectionString/33b551f12c044cf7856b9e96ffa790a1" />
    <add key="SigningKey" value="https://sp-ppe-beihai.vault.azure.net:443/keys/SigningKey/f5ca3edd7c274606a3ec90f4bf8ebf39" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-ppe-beihai.vault.azure.net:443/secrets/VolatileRedisConnectionString/df496a7153eb4b9c9b0826b1ac72aa7e" />
  </appSettings>
</configuration>
