<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="D3895B71365CB56E8B02DAF01B74FF72DAFE52CD" />
    <add key="AVERTKey" value="kv:https://sp-ppe.vault.azure.net:443/secrets/AVERTKey/0c78a301ffb747d9bd33867a98d55bc3" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/d3515f3a237d466494bf2cb9b69c8ad5" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/AzureSqlConnectionString/ea91afd9cad046b38430e81d07b54b68" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/AzureStorageConnectionString/f41fe30692ca40c99abb94422e1a8786" />
    <add key="CDNUrl" value="https://sp-ppe.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-ppe.vault.azure.net:443/secrets/CVSKey/8e705120b2014a2492626cb5e787bed9" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/api/" />
    <add key="CVSX509Thumbprint" value="3340b4169b0e545d9e70cdb6b20bb491c9f17204" />
    <add key="EnableAzureSettingsReaderTracing" value="false" />
    <add key="EnableMdm" value="true" />
    <add key="HashingKey" value="https://sp-ppe.vault.azure.net:443/secrets/HashingKey/c512c68c18244909a6aa765efbb6b5b0" />
    <add key="KeyVaultUri" value="https://sp-ppe.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/PersistentRedisConnectionString/075642fbb48e47c793f6cc081302f833" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/PushNotificationsConnectionString/d86164fa50524914bf01d7c0c634cd03" />
    <add key="RateLimitPerMinute" value="3000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-ppe.vault.azure.net:443/secrets/SearchServiceAdminKey/4ad4893b2fa347d8a6f4a0b0c3161527" />
    <add key="SearchServiceName" value="sp-ppe" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-ppe.vault.azure.net:443/secrets/SendGridInstrumentationKey/c48aacb0d161405a837ef0989ebe7f6c" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/ServiceBusConnectionString/8d62f0fc9e64423bb4ea1c603b49b528" />
    <add key="SigningKey" value="https://sp-ppe.vault.azure.net/keys/SigningKey/06585d0b49e342ffa02253ca09100da4" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-ppe.vault.azure.net:443/secrets/VolatileRedisConnectionString/e2912cb942b7421eb003617ff02490db" />
  </appSettings>
</configuration>
