<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AADMicrosoftClientId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AADEmbeddedSocialClientId" value="155f75c0-e6e2-4953-af4e-aaaf7300ba23" />
    <add key="AVERTCertThumbprint" value="D3895B71365CB56E8B02DAF01B74FF72DAFE52CD" />
    <add key="AVERTKey" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/AVERTKey/b6049bcac82741af817d518b47ec2342" />
    <add key="AVERTUrl" value="https://cvsnaprod.azure-api.net/Avert/" />
    <add key="AzureBlobStorageConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/AzureBlobStorageConnectionString/2d6537feb9cf4f469d4f94b85806e023" />
    <add key="AzureSqlConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/AzureSqlConnectionString/04cba556ed6545e48769d9245cbbd035" />
    <add key="AzureStorageConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/AzureStorageConnectionString/776dbfd5b25342b9b04eecdbdc83e1c3" />
    <add key="CDNUrl" value="https://sp-test-perf.azureedge.net/" />
    <add key="CVSKey" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/CVSKey/1b9e8d29d8be4185ab31cccffdb7b113" />
    <add key="CVSUrl" value="https://cvsnaprod.azure-api.net/cv/api" />
    <add key="CVSX509Thumbprint" value="3340b4169b0e545d9e70cdb6b20bb491c9f17204" />
    <add key="EnableAzureSettingsReaderTracing" value="False" />
    <add key="EnableMdm" value="True" />
    <add key="HashingKey" value="https://sp-test-perf.vault.azure.net:443/secrets/HashingKey/95bfdeccccc749c5b6d4fe57106e0a72" />
    <add key="KeyVaultUri" value="https://sp-test-perf.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="PersistentRedisConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/PersistentRedisConnectionString/20360d37182549f6b1149c94297f5474" />
    <add key="PushNotificationsConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/PushNotificationsConnectionString/97071abb38cd4827a8bfa01ecb299e4b" />
    <add key="RateLimitPerMinute" value="6000" />
    <add key="SearchServiceAdminKey" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/SearchServiceAdminKey/d771944fda48447e92c10247f0c7d933" />
    <add key="SearchServiceName" value="sp-test-perf" />
    <add key="SendGridInstrumentationKey" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/SendGridInstrumentationKey/80c08cdf638946c9b07d381b782e139a" />
    <add key="ServiceBusBatchIntervalMs" value="0" />
    <add key="ServiceBusConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/ServiceBusConnectionString/700e165fe6634977b0fa10f1984eabca" />
    <add key="SigningKey" value="https://sp-test-perf.vault.azure.net:443/keys/SigningKey/2318bc220ad94bbbb0952348b904558f" />
    <add key="SocialPlusCertThumbprint" value="5C9B335BAD911D7CE64263192F65E040779530BC" />
    <add key="VolatileRedisConnectionString" value="kv:https://sp-test-perf.vault.azure.net:443/secrets/VolatileRedisConnectionString/03be1d4c85e8411db19b47a104f18afe" />
  </appSettings>
</configuration>
